<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>

		<typeAlias type="com.kawai.dto.CommDto" alias="CommDto"/>
		<typeAlias type="com.kawai.dto.CommDtoBookinfo" alias="CommDtoBookinfo"/>
		<typeAlias type="com.kawai.dto.CommDtoCommunityLike" alias="CommunityLike"/>
		<typeAlias type="com.kawai.dto.CommDtoInquiry" alias="CommInquiry"/>
		<typeAlias type="com.kawai.dto.CommDtoAnswer" alias="CommAnswer"/>
		<typeAlias type="com.kawai.dto.CommDtoComment" alias="CommComment"/>
		<typeAlias type="com.kawai.dto.CommDtoCommentLike" alias="CommCommentLike"/>
		<typeAlias type="com.kawai.dto.CommDtoSearch" alias="CommSearch"/>
    
	</typeAliases>
	      
</configuration>
